<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130921287166-4db1ohsbtuqe4ga1r0igm4bi7buhhspi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130921287166-4db1ohsbtuqe4ga1r0igm4bi7buhhspi</string>
	<key>API_KEY</key>
	<string>AIzaSyB5q4KEATp1lFXX3v06n9KN9CfU3bo2KZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>130921287166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.georgiancollege.MDEV1001-M2023-FinalTest</string>
	<key>PROJECT_ID</key>
	<string>mdev1001-m2023-finaltest-50608</string>
	<key>STORAGE_BUCKET</key>
	<string>mdev1001-m2023-finaltest-50608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130921287166:ios:ab10a5fd12ffc6034044af</string>
</dict>
</plist>